table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 30%;
}


/* mat-nav-list {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
} */