<div class="contactus">
    <div class="contactimg" fxLayout="row" fxLayoutAlign="center center">
        <h1>Contact Us</h1>
    </div>



    <div class="container-fluid mt-3" fxFill fxLayoutAlign="end center">
        <mat-card fxFlex="37">
            <mat-toolbar color="primary" fxLayoutAlign="center center" class="formHeading">Contact Form</mat-toolbar>
            <form #frm="ngForm" [formGroup]="contactForm" class="contactForm" flexLayoutAlign="stretch" fxLayout="column" (ngSubmit)="getemail(frm.value)">
                <div class="controls-container">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Your Name</mat-label>
                        <input formControlName="fullName" matInput ngModel>
                        <mat-error>This field is mandatory</mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" matInput ngModel>
                        <mat-error *ngIf="contactForm.controls['email'].errors?.['required']">This field is mandatory</mat-error>
                        <mat-error *ngIf="contactForm.controls['email'].errors?.['pattern']">Invalid email address!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Message</mat-label>
                        <input formControlName="message" matInput #message maxlength="256" ngModel>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="button-row" fxLayoutAlign="end center" fxLayoutGap="10px">
                    <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid" (click)="onSubmit()">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>