<div fxLayoutAlign="center center" class="mt-4">
    <mat-card fxFlex="25">
        <mat-toolbar fxLayoutAlign="center center" color="warn">User Registration</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="mt-3" #frm="ngForm" [formGroup]="adminLoginForm">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input formControlName="FirstName" matInput>
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="LastName" matInput>
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput>
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>User role</mat-label>
                <mat-select formControlName="UserRole">
                    <mat-option value="option">Admin</mat-option>
                    <mat-option value="option">Content Writer</mat-option>
                    <mat-option value="option">Journalist</mat-option>
                    <mat-option value="option">Website Developer</mat-option>
                </mat-select>
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" [type]="hide ? 'password':'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</mat-icon>
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Register</button>
            <a [routerLink]="'/userlogin'">click to Login</a>
        </form>
    </mat-card>
</div>