h1 {
    text-align: center;
    margin: 2rem;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Roboto';
}

.example-card {
    max-width: 600px;
    /* background-color: rgb(238, 232, 232); */
    background: url(../../../assets/background1.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.example-header-image {
    background-size: cover;
}

.dividerTop {
    background-color: #000;
}

.mat-card-avatar {
    height: 80px;
    width: 80px;
}

.title {
    margin: 20px;
    margin-left: -1rem;
}