<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="warn" fxLayoutAlign="center center">Admin Login</mat-toolbar>
        <form fxLayout="stretch" fxLayout="column" style="margin: 1rem;">
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" style="margin-top: 1rem;">Login</button>
        </form>
    </mat-card>
</div>