<div class="container">
    <mat-toolbar color="accent" class="contentHeading" fxLayoutAlign="center center">Vision & Values</mat-toolbar>
    <mat-card class="cardContent">

        <p>Dr Babasaheb Ambedkar says movement without news paper is like a bird without wings. He emphasized on the need of the media those days when the literacy rate in the schedule caste people was very negligible. He knew the significance of media in
            the process of opinion making. Dr Babasaheb started his media in 1920s as Mukanayak (31 January 1920) and later on the Bahishkrut Bharat(1927). There were very few readers in those days. But the people use to wait for each and every new issue
            desperately. The media helped to bring about a tremendous mobilisation of the people in his mission for emancipation of the untouchables. He was successful in his pursuit of awakening the untouchables socialy, economically and politically
            within a short period of time. The result was seen when he could successfully got elected 15 representatives in the very first assembly elections in 1937 through Independent Labour Party. His socio-political conferences were always supported
            by huge crowds. He embraced Buddhism and converted the lakhs of untouchables to Buddhism on the day of Ashok Vijayadashami 14 October 1956 creating the all time record of mass conversion! All his revolutionary activities; his thought process
            as well as practices; were well supported by his own media. Salute to the greatest emancipator of the mankind. We are committed to follow the path he has designed with his great efforts and the great wisdom!</p>

        <p>We have created the Nibban News Media Pvt LTD. This is a company which will create a media house under which many media products will be published in due course of time. We are beginning our mission by launching the news portal Republican Janata.
            We hope you will welcome it warmly! Making of a Marathi news paper which will reach the people all over Maharashtra is also in process!</p>

        <p>Republican Janata is a platform created for propagating the total vision of Dr Babasaheb Ambedkar. Dr Babasaheb Ambedkar was an hard core Democrat. He was a Liberal Democrat.</p>

        <p>He struggled all his life against all the types of discriminations.</p>

        <p>The brahmanical social order is based on varna- caste system.</p>

        <p>The brahmanical religious scripts have given the top most place to the brahmins. Just next to brahmins are the kshatriyas, below them are the vaishyas and at the bottom are the shudras. Beyond these four varnas the fifth vatna was introduced later
            in the system and that was the Antyaj. The anyyajas were the untouchables. The Varnas enjoyed increasing respect from bottom to top and suffered from increasing hatred from top to bottom.</p>

        <p>This extreme kind of discrimination created many social as well as economic problems in the life of people in India.</p>

        <p>The Varna system ultimately gave rise to the caste system. Today there are more than 6500 castes and more than 65000 subcastes in India. Divide and rule is the fundamental strategy of the brahmanical social order. The brahmanical social order
            is having the inherent characteristic of dividing and redividing, discrimination and more discrimination!</p>

        <p>All this has resulted in the socio-economic destruction of the Indian society. Dr. Babasaheb Ambedkar fought against all these odds. He wanted to transform the Indian Nation into Prabuddha Rashtra where there will not be any discrimination in
            the name of Varna, caste or class!</p>

        <p>The socio-economic degeneration of the system affected the scheduled caste people very badly. There were no limits to sorrows and atrocities in their daily life. They were ex-communicated and were not allowed to have any kind of communication
            with the higher castes. They were not allowed to touch the high caste people nor were allowed to interdine with them. Their professions were heinous. Each caste was a closed group of people bound by the five bindings.</p>

        <p>The caste of a person was based on his birth. Once born as an untouchable will always be stamped as an untouchable. No Escape! Dr Babasaheb Ambedkar fought against all such kinds of injustices. His life was full of struggles.</p>

        <p>Dr Babasaheb Ambedkar believed in the parliamentary type of democracy. He gave one of the best Constitutions to India.</p>

        <p>The Constitution of India proclaims India to be the Sovereign, Democratic, Secular, Socialist, Republic Nation. It guarantees ; Justice, Social Economic and Political;<br> Liberty of expression and thought, belief, faith and worship;<br> Equality
            of Status and opportunity; and<br>it declares the Fraternity to be the most essential in creating the unity and integrity of the people of India. Dr Babasaheb Ambedkar says if there is no Fraternity there cannot be equality, if there is no
            equality there cannot be liberty and if there is no liberty there cannot be justice. He says it is the fraternity which is the most fundamental to the democracy.<br> Dr Babasaheb Ambedkar finds Buddhism to be the most suitable religion for
            the existence and the development of the democracy.</p>

        <p>Nibban News Media and the Republican Janata believes in the complete vision of Dr Babasaheb Ambedkar.<br> It is committed to educate the people in Ambedkarism.<br> It is also committed to take up the cause of exploring the difficulties and the
            grievances faced by the Indian people in general and S.C., S.T., OBCs and the minoritie in particular.<br> We are committed to uphold and strengthen the Parliamentary Democratic system in India!</p>
    </mat-card>
</div>